.setup-card {
  margin: 10vh 30% 0;
  padding: 10%;
  background-color: white;
  border-radius: 16px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  text-align: center;
  font-size: 16pt;
}

.odometer {
  font-size: 80px;
}

.odometer-date {
  display: flex;
  justify-content: flex-end;
}

.redtext {
  color: red;
}

.greentext {
  color: green;
}

.top-margin {
  margin-top: 40px;
}

.center {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  max-width: 500px;
}

.delete-button {
  cursor: grab;
}

.full-width {
  width: 100%;
}
